{% trans_default_domain("yandex-market.admin") %}

<tr class="vertical-middle">

    <td class="text-nowrap">
        {# Пользовательское меню #}
        {{ include(_self|replace({ "card.html.twig": "_usecase.html.twig" })) }}
    </td>

    <td class="text-center w-100">

        <div class="d-flex w-50 gap-3">

            {# Обложка #}
            {% set image_path = '/assets/img/blank.svg' %}

            {% if item.users_profile_avatar_ext is defined and item.users_profile_avatar_ext is not null %}
                {% set img_host =  item.users_profile_avatar_cdn == true  ? CDN_HOST : '' %}
                {% set img_dir = item.users_profile_avatar %}
                {% set img_file = (img_host is empty ? '/image.' : '/small.') ~ item.users_profile_avatar_ext %}
                {% set image_path = img_host ~ img_dir ~ img_file %}
            {% endif %}

            <div>
                <span
                        class="icon rounded-circle bg-cover lazy p-1"
                        data-bg="{{ image_path }}"
                > </span>
            </div>

            <div class="ms-0 text-start">

                <a href="{{ path('yandex-market:admin.newedit.edit', {id: item.event }) }}"
                   class="fw-bolder text-decoration-none text-dark modal-link disabled"
                   data-bs-toggle="modal"
                   data-bs-target="#modal"
                >
                    {{ item.users_profile_username }}
                </a>

                <div class="text-muted fs-7 fw-bolder d-flex gap-3">

                    {# <span class="me-1 text-muted">
                        <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15"
                             viewBox="0 0 24 24" fill="none"
                        >
                            <path opacity="0.3"
                                  d="M22 12C22 17.5 17.5 22 12 22C6.5 22 2 17.5 2 12C2 6.5 6.5 2 12 2C17.5 2 22 6.5 22 12ZM12 7C10.3 7 9 8.3 9 10C9 11.7 10.3 13 12 13C13.7 13 15 11.7 15 10C15 8.3 13.7 7 12 7Z"
                                  fill="currentColor"
                            ></path>
                            <path d="M12 22C14.6 22 17 21 18.7 19.4C17.9 16.9 15.2 15 12 15C8.8 15 6.09999 16.9 5.29999 19.4C6.99999 21 9.4 22 12 22Z"
                                  fill="currentColor"
                            ></path>
                        </svg>
                    #}{# {{ item.group_name }} #}{#
                    </span> #}

                    <span class="me-1 text-muted">
                        <svg xmlns="http://www.w3.org/2000/svg" width="13" height="13"
                             fill="currentColor" class="bi bi-envelope-fill" viewBox="0 0 16 16"
                        >
                            <path d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555ZM0 4.697v7.104l5.803-3.558L0 4.697ZM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757Zm3.436-.586L16 11.801V4.697l-5.803 3.546Z"/>
                        </svg>

                        {{ item.account_email }}
                    </span>
                </div>

            </div>
        </div>
    </td>


    <td class="text-center">
        {% if item.active %}
            <div class="badge bg-success">
                Активный
            </div>
        {% else %}
            <div class="badge bg-danger">
                Заблокирован
            </div>
        {% endif %}
    </td>


    <td class="text-center">
        {{ user_profile_status(item.users_profile_status) }}
    </td>

    <td>&nbsp;</td>

    <td class="text-center">
        {% if item.card %}

            {# <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="text-success"
                 viewBox="0 0 16 16">
                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h7a.5.5 0 0 0 0-1h-7z"/>
            </svg> #}

            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="text-success"
                 viewBox="0 0 16 16">
                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
            </svg>

        {% else %}
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="text-danger"
                 viewBox="0 0 16 16">
                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h7a.5.5 0 0 0 0-1h-7z"/>
            </svg>
        {% endif %}
    </td>


    <td class="text-center">
        {% if item.stocks %}
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="text-success"
                 viewBox="0 0 16 16">
                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
            </svg>

        {% else %}
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="text-danger"
                 viewBox="0 0 16 16">
                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h7a.5.5 0 0 0 0-1h-7z"/>
            </svg>
        {% endif %}
    </td>

    {# {% if is_granted('ROLE_ADMIN') %}
        <td class="text-center">
            <a href='{{ path(app.current_route, {'authority' :  item.id  }) }}'
               class="badge text-bg-light text-decoration-none"
            >
                Авторизоваться
            </a>
        </td>
    {% endif %} #}
</tr>