{% trans_default_domain("yandex-market.admin") %}

<tr class="vertical-middle">

    <td class="text-nowrap">
        {# Пользовательское меню #}
        {{ include(_self|replace({ "card.html.twig": "_usecase.html.twig" })) }}
    </td>

    <td class="text-center w-100">

        <div class="d-flex w-100 gap-3">

            {# Обложка #}
            <div>
                <span
                        class="icon rounded-circle bg-cover lazy p-1"
                        data-bg="{{ cdn_image_path(item.users_profile_avatar, item.users_profile_avatar_ext, item.users_profile_avatar_cdn, 'min') }}"
                > </span>
            </div>

            <div class="ms-0 text-start">

                <a href="{{ path('yandex-market:admin.newedit.edit', {id: item.event }) }}"
                   class="fw-bolder text-decoration-none text-dark modal-link disabled"
                   data-bs-toggle="modal"
                   data-bs-target="#modal"
                >
                    {{ item.users_profile_username }}
                </a>

                <div class="d-flex align-items-center gap-1 text-primary pointer copy small"
                     data-copy="{{ item.id }}">
                    <span class="text-decoration-none text-dark fw-bolder">ID: &nbsp; </span>
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="14"
                         height="14" fill="currentColor" viewBox="0 0 115.77 122.88">
                        <path d="M89.62,13.96v7.73h12.19h0.01v0.02c3.85,0.01,7.34,1.57,9.86,4.1c2.5,2.51,4.06,5.98,4.07,9.82h0.02v0.02 v73.27v0.01h-0.02c-0.01,3.84-1.57,7.33-4.1,9.86c-2.51,2.5-5.98,4.06-9.82,4.07v0.02h-0.02h-61.7H40.1v-0.02 c-3.84-0.01-7.34-1.57-9.86-4.1c-2.5-2.51-4.06-5.98-4.07-9.82h-0.02v-0.02V92.51H13.96h-0.01v-0.02c-3.84-0.01-7.34-1.57-9.86-4.1 c-2.5-2.51-4.06-5.98-4.07-9.82H0v-0.02V13.96v-0.01h0.02c0.01-3.85,1.58-7.34,4.1-9.86c2.51-2.5,5.98-4.06,9.82-4.07V0h0.02h61.7 h0.01v0.02c3.85,0.01,7.34,1.57,9.86,4.1c2.5,2.51,4.06,5.98,4.07,9.82h0.02V13.96L89.62,13.96z M79.04,21.69v-7.73v-0.02h0.02 c0-0.91-0.39-1.75-1.01-2.37c-0.61-0.61-1.46-1-2.37-1v0.02h-0.01h-61.7h-0.02v-0.02c-0.91,0-1.75,0.39-2.37,1.01 c-0.61,0.61-1,1.46-1,2.37h0.02v0.01v64.59v0.02h-0.02c0,0.91,0.39,1.75,1.01,2.37c0.61,0.61,1.46,1,2.37,1v-0.02h0.01h12.19V35.65 v-0.01h0.02c0.01-3.85,1.58-7.34,4.1-9.86c2.51-2.5,5.98-4.06,9.82-4.07v-0.02h0.02H79.04L79.04,21.69z M105.18,108.92V35.65v-0.02 h0.02c0-0.91-0.39-1.75-1.01-2.37c-0.61-0.61-1.46-1-2.37-1v0.02h-0.01h-61.7h-0.02v-0.02c-0.91,0-1.75,0.39-2.37,1.01 c-0.61,0.61-1,1.46-1,2.37h0.02v0.01v73.27v0.02h-0.02c0,0.91,0.39,1.75,1.01,2.37c0.61,0.61,1.46,1,2.37,1v-0.02h0.01h61.7h0.02 v0.02c0.91,0,1.75-0.39,2.37-1.01c0.61-0.61,1-1.46,1-2.37h-0.02V108.92L105.18,108.92z"></path>
                    </svg>
                    {{ item.id }}
                </div>
            </div>
        </div>
    </td>


    <td class="text-center">
        {% if item.active %}
            <div class="badge bg-success">
                Активный
            </div>
        {% else %}
            <div class="badge bg-danger">
                Заблокирован
            </div>
        {% endif %}
    </td>


    <td class="text-center">
        {{ user_profile_status(item.users_profile_status) }}
    </td>

    <td>&nbsp;</td>

    <td class="text-center">
        {% if item.card %}

            {# <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="text-success"
                 viewBox="0 0 16 16">
                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h7a.5.5 0 0 0 0-1h-7z"/>
            </svg> #}

            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="text-success"
                 viewBox="0 0 16 16">
                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
            </svg>

        {% else %}
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="text-danger"
                 viewBox="0 0 16 16">
                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h7a.5.5 0 0 0 0-1h-7z"/>
            </svg>
        {% endif %}
    </td>


    <td class="text-center">
        {% if item.stocks %}
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="text-success"
                 viewBox="0 0 16 16">
                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
            </svg>

        {% else %}
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="text-danger"
                 viewBox="0 0 16 16">
                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h7a.5.5 0 0 0 0-1h-7z"/>
            </svg>
        {% endif %}
    </td>

    {# {% if is_granted('ROLE_ADMIN') %}
        <td class="text-center">
            <a href='{{ path(app.current_route, {'authority' :  item.id  }) }}'
               class="badge text-bg-light text-decoration-none"
            >
                Авторизоваться
            </a>
        </td>
    {% endif %} #}
</tr>