{% trans_default_domain 'yandex-market.admin' %}

{% set prototype_form = form.company.vars.prototype %}
{% set prototype_company = form_widget(form.company.vars.prototype.company, { label: 'Идентификатор компании', attr: { class: 'w-100' }} ) %}
{% set prototype_business = form_widget(form.company.vars.prototype.business, { label: 'Идентификатор кабинета', attr: { class: 'w-100' }} ) %}
{% set prototype_percent = form_widget(form.company.vars.prototype.percent, { label: 'Торговая наценка', attr: { class: 'w-100' }}) %}

<div class="tab-content" id="token_tab_content">

    {# ОСНОВНЫЕ НАСТРОЙКИ #}
    <div class="tab-pane fade show active" id="tab_token" role="tabpanel">

        {# Если администратор ресурса  #}
        {% if is_granted('ROLE_ADMIN') and form.profile is defined %}
            {{ form_row(form.profile, { label: 'Профиль пользователя', placeholder: 'Выберите профиль из списка...' }) }}
        {% endif %}

        {{ form_row(form.token, { label: 'Токен авторизации' }) }}

        {% if form.token.vars.data %}
            <div class="alert alert-warning" role="alert">
                В целях безопастности токен зашифрован и не отображается в форме. Оставьте поле пустым, если не желаете
                обновлять токен.
            </div>
        {% endif %}

        <div class="flex-fill d-flex justify-content-around pb-3 radio-buttons gap-3" data-buttons="true">
            <label class="btn p-3 border-dotted rounded-3 w-100 {{ form.active.vars.data ? 'active' }}">
                <div class="d-flex align-items-center">
                    <div class="flex-grow-1">
                    <span class="h5">
                        <div class="form-check d-flex align-items-center">
                            {{ form_widget(form.active, { label: false }) }}
                            <span>
                                Активный токен
                            </span>
                        </div>
                    </span>
                    </div>
                </div>
            </label>
        </div>


        <div class="d-flex gap-3 mb-2">
            <div class="w-25">&nbsp;</div>
            <div class="w-100"><small>Идентификатор компании</small></div>
            <div class="w-100"><small>Идентификатор кабинета</small></div>
            <div class="w-50"><small>Торговая наценка</small></div>
        </div>

        {# {{ form_widget(company.company, { label: 'Идентификатор компании', attr: { class: 'w-100' } }) }}
        {{ form_widget(company.business, { label: 'Идентификатор кабинета', attr: { class: 'w-100' }  }) }}
        {{ form_widget(company.percent, { label: 'Торговая наценка', attr: { class: 'w-100' }  }) }} #}

        <div class="{{ form.vars.id }}" id='{{ form.vars.id }}'>
            {% for company in form.company %}
                <div class='mb-3' id='item_{{ company.vars.id }}'>
                    {{ include(_self|replace({ "form.html.twig": "company/company.html.twig" })) }}
                </div>
            {% endfor %}
        </div>

        <div class="mb-3">
            <button type="button"
                    id="add_company"
                    class="btn btn-sm btn-outline-primary border-0"
                    data-prototype="{{ include(_self|replace({ "form.html.twig": "company/prototype.html.twig" }) )|e('html_attr') }}"
                    data-collection="{{ form.vars.id }}"
                    data-index="{{ form.company.count }}"

            >
						<span class="svg-icon svg-icon-2">
							<svg xmlns="http://www.w3.org/2000/svg"
                                 width="24"
                                 height="24"
                                 viewBox="0 0 24 24"
                                 fill="none">
								<rect opacity="0.5"
                                      x="11"
                                      y="18"
                                      width="12"
                                      height="2"
                                      rx="1"
                                      transform="rotate(-90 11 18)"
                                      fill="currentColor">
							</rect>
								<rect x="6" y="11" width="12" height="2" rx="1" fill="currentColor"></rect>
							</svg>
						</span>
                Добавить еще идентификатор бизнеса
            </button>
        </div>


    </div>
</div>





